.app-header {
    background-color: var(--color-gray-dark);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    &__logo {
        width: auto;
        height: auto;
        max-width: 75px;
    }

    &__search {
        width: 100%;
        max-width: 350px;
    }
}
