.genre-label {
    display: inline-block;
    vertical-align: top;
    padding: 3px;
    background-color: var(--color-gray-light);
    margin-right: 5px;
    font-size: 12px;
    border-radius: 5px;
    cursor: default;
}
