.show-cast-tab {
    &__actors-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-gap: 15px;
    }

    &__no-data {
        padding: 30px 0px;
        text-align: center;
    }
}
